<div class="footer-container">
  <div class="footer-left">
    <p>Portfolio of Kyle Anderson</p>
  </div>
  <div class="footer-center">
    <ul class="social-links">
      <li><a href="https://www.linkedin.com/in/kyle-darren-anderson/" class="social-link">LinkedIn</a></li>
      <li><a href="https://github.com/kyledarrenanderson2001" class="social-link">Github</a></li>
    </ul>
  </div>
  <div class="footer-right">
    <p>Email Me: <a href="mailto:kyledarrenanderson@gmail.com">kyledarrenanderson@gmail.com</a></p>
  </div>
</div>