<div class="navbar">
  <a href="index.html" class="nav-link">Home</a>
  <a href="about.html" class="nav-link">About Me</a>
  <a href="university-projects.html" class="nav-link">University Projects</a>
  <a href="personal-projects.html" class="nav-link">Personal Projects</a>

  <div class="theme-toggle">
    <label class="switch">
      <input type="checkbox" id="theme-toggle">
      <span class="slider">
        <span class="sun-icon">&#127774;</span>
        <span class="moon-icon">&#127770;</span>
      </span>
    </label>
  </div>
</div>
